In [41]:
import pandas as pd
from connect_oracle import criar_conexao

conn = criar_conexao()
cursor = conn.cursor()

In [42]:
cursor.execute("""
                    SELECT
                        TO_CHAR(o.order_date, 'YYYY-MM') AS month,
                        COUNT(o.order_id) as orders_quantity,
                        SUM(o.quantity) AS total_quantity,
                        SUM(o.sales) AS total_sales,
                        SUM(o.profit) AS total_profit,
                        SUM(o.discount) AS total_discount
                    FROM orders o
                    GROUP BY TO_CHAR(o.order_date, 'YYYY-MM')
                    HAVING SUM(o.quantity) > 200 and SUM(o.profit)>1000
                    ORDER BY MONTH ASC
               """)

In [43]:
queryReturn = cursor.fetchall()
query = pd.DataFrame(columns=[i[0] for i in cursor.description], data=queryReturn)

In [44]:
query

,MONTH,ORDERS_QUANTITY,TOTAL_QUANTITY,TOTAL_SALES,TOTAL_PROFIT,TOTAL_DISCOUNT
0,2014-01,79,284,14236.90,2450.18,10.00
1,2014-04,135,536,28295.35,3488.82,14.85
2,2014-05,122,466,23648.28,2738.73,18.95
3,2014-06,135,521,34595.14,4976.55,23.22
4,2014-08,153,609,27909.47,5318.08,20.05
5,2014-09,268,1000,81777.34,8328.05,42.87
6,2014-10,159,573,31453.37,3448.20,25.45
7,2014-11,318,1219,78628.73,9292.12,48.07
8,2014-12,278,1079,69545.64,8983.55,53.05
9,2015-02,64,239,11951.40,2813.83,8.30
10,2015-03,138,515,38726.26,9732.05,19.34
11,2015-04,160,543,34195.24,4187.54,28.15
12,2015-05,146,575,30131.72,4667.82,24.25
13,2015-06,138,486,24797.31,3335.53,23.80
14,2015-07,140,557,28765.32,3288.66,23.85
15,2015-08,159,598,36898.31,5355.80,24.87
16,2015-09,293,1086,64595.87,8209.14,41.30
17,2015-10,166,631,31404.90,2817.35,26.95
18,2015-11,324,1310,75972.51,12474.75,52.59
19,2015-12,316,1203,74919.51,8016.89,43.37
20,2016-01,89,358,18542.52,2824.81,11.80
21,2016-02,83,306,22978.82,5004.57,8.00
22,2016-03,163,579,51715.85,3611.94,31.12
23,2016-04,170,635,38750.04,2977.85,26.50
24,2016-05,225,863,56987.75,8662.06,41.50
25,2016-06,199,742,40344.54,4750.33,27.60
26,2016-07,201,758,39261.99,4432.82,32.05
27,2016-08,176,693,31115.34,2062.03,32.67
28,2016-09,363,1316,73410.09,9328.58,54.24
29,2016-10,196,767,59687.80,16243.21,28.85
30,2016-11,370,1406,79412.03,4011.36,58.32
31,2016-12,352,1414,96999.06,17885.27,47.67
32,2017-01,155,597,43971.37,7140.44,25.00
33,2017-02,107,363,20301.12,1613.87,19.47
34,2017-03,238,885,58872.35,14751.85,31.14
35,2017-05,242,887,44261.08,6342.60,36.89
36,2017-06,245,931,52981.72,8223.36,42.12
37,2017-07,226,840,45264.43,6952.59,31.65
38,2017-08,218,884,63120.85,9041.04,31.30
39,2017-09,459,1660,87866.66,10991.46,67.65
40,2017-10,298,1133,77776.96,9275.33,51.92
41,2017-11,459,1840,118447.81,9690.07,73.89
42,2017-12,462,1723,83829.31,8483.28,67.72